/*

  Main Groovebox Stylesheet
  ~~~~~~~~~~~~~~~~~~~~~~~~~

*/

// Palette URL: http://paletton.com/#uid=13Y0u0kqg4T2TrUh29Wsvc3p4l7
$color-primary-0: #08091B;
$color-primary-1: #8F8F9B;
$color-primary-2: #1E1F37;
$color-primary-3: #101243;
$color-primary-4: #262A75;

html {
  background: #08091B;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

body {
  color: #DBC5FF;
  margin: 0px;
  overflow: hidden;
  z-index: 0;
}

a {
  color: #898999;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

#sidebox {
  background: #1E1F37;
  float: left;
  font-size: 12px;
  margin-right: 20px;
  position: fixed;
  top: 0px; bottom: 0px; left: 0px;
  width: 80px;
  z-index: 999;
  ul {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0px;
    li {
      text-align: center;
      margin-bottom: 20px;
      a { text-decoration: none; }
    }
  }
}

#userbox {
  bottom: 0px;
  border-top: 1px solid #1E1F37;
  position: fixed;
}

.navicon { width: 40px; }

.logo {
  color: #DBC5FF;
  font-family: 'Righteous', cursive;
  margin-top: 25px;
  text-align: center;
  font-size: 1.2em;
}

.groovy-blur {
  background: rgba(34, 35, 58, 0.8); /*rgba(68, 69, 92, 0.8);*/
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 80px;
  right: 250px;
}

#blur-search,
#blur-results { display: none; }

#groovebox {
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  top: 0px; right: 250px; bottom: 0px; left: 80px;
  &::-webkit-scrollbar { 
    background: $color-primary-2;
    width: .5em; 
  }
  &::-webkit-scrollbar-track { background: $color-primary-2; }
  &::-webkit-scrollbar-thumb { 
    background: rgb(74, 75, 97); 
    border-radius: 5px;
    height: 20px; 
  }
  h1 {
    font-family: Righteous;
    font-weight: 300;
    margin: 0px;
  }
}

#searchbox {
  background: #141424;
  opacity: 1;
  position: fixed;
  top: 0px; bottom: 0px; left: 80px;
  transform: translateX(-250px);
  transition: all 0.5s ease;
  width: 250px;
  .open {
    transition: all 0.5s ease;
    transform: translateX(0px);
  }
}

#searchbox-header {
  background-color: #2D2D57;
  padding: 25px 0px;
}

#searchbox-input {
  background: #fff;
  border-radius: 3px;
  margin: 0px auto;
  padding: 0px 10px;
  width: 200px;
  input {
    border: 0px;
    padding: 10px 5px;
    width: 160px;
  }
}

#searchbox-results {
  overflow-y: scroll;
  position: absolute;
  top: 85px; bottom: 0px;
  width: 100%;
  h2 {
    font-size: 1em;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  ul {
    list-style-type: none;
    padding: 0px 15px;
    li {
      background: #1D1E30; // #1A1A37
      cursor: pointer;
      font-size: .8em;
      margin-bottom: 2px;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        background: #282849; // #323254
        color: #fff;
        transition: background-color 0.5s ease;
      }
      h2 {
        font-weight: normal;    
        margin: 0 0 5px 0;
      }
      h3 {
        color: #676CD7;
        font-size: .9em;
        font-weight: normal;
        margin: 0px;
      }
    }
  }
  &::-webkit-scrollbar { background: #141424; width: .5em; }
  &::-webkit-scrollbar-thumb {
    background: rgb(74, 75, 97)
    border-radius: 5px;
    height: 20px; 
  }
}

#resultsbox {
  background: #121224;
  border-left: 1px solid rgba(46, 37, 84, 1);
  box-shadow: -5px 0px 10px rgb(24, 25, 31);
  position: fixed;
  top: 0px; right: 250px; bottom: 0px; left: 300px;
  overflow-y: scroll;
  padding: 20px;
  transform: translateX(110%);
  transition: all 0.5s ease-out;
  .open {
    transition: all 0.5s ease;
    transform: translateX(0px);
  }
  &::-webkit-scrollbar { background: $color-primary-2; width: .5em; }
  &::-webkit-scrollbar-thumb {
    background: rgb(74, 75, 97); 
    border-radius: 5px; 
    height: 20px;
  }
  header {
    span {
      color: #73769D;
      display: block;
      font-size: .8em;
      margin-left: 4px;
      text-transform: uppercase;
    }
    h1, 
    h2 {
      float: left;
      font-family: 'Muli';
      font-weight: normal;
      margin: 0px;
      width: 500px;
    }
    h2 {
      font-size: 1.4em;
      margin: 40px 0px;
    }
  }
  .coverart {
    background: #C1C5FF;
    float: left;
    height: 210px;
    margin-left: 20px;
    margin-right: 15px;
    width: 210px;
    img { width: 100%; }
  }
  table {
    border-spacing: 0px;
    margin-top: 20px;
    width: 100%;
    tr { font-size: .9em; }
    th {
      border-bottom: 1px solid #1E1F37;
      font-weight: normal;
      padding: 10px;
      text-align: left;
      text-transform: uppercase;
      .play-all { cursor: pointer; }
    }
    td {
      border-bottom: 1px solid #1E1F37;
      padding: 10px;
      text-align: left;
      &:first-child,
      &:nth-last-child(2) { width: 50px; }
      &:last-child { width: 10px; }
    }
    tbody {
      tr {
        &:hover {
          background-color: #1E1F37;
          cursor: pointer;
        }
        &.selected { background: #0A0A18; }
      }
    }
  }
}

#playbox {
  background: #1E1F37;
  top: 0px; right: 0px; bottom: 0px;
  position: fixed;
  width: 250px;
  #results-toggler {
    background: #1E1F37;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    display: none;
    font-size: 1em;
    height: 50px;
    position: fixed;
    top: 21px; right: 258px;
    width: 18px;
    span {
      color: rgba(219, 197, 255, 1);
      font-size: .8em;
      margin-left: 4px;
      position: relative;
      top: 15px;
    }
  }
}

#nowplaying { 
  margin: 20px; 
  .album-cover {
    background-color: #04040D;
    height: 182px;
    margin-bottom: 35px;
    &:hover {
      opacity: .5;
      transition: opacity .25s ease-in-out;
    }
    img {
      background-color: #fff;
      width: 100%;
    }
    h2 {
      font-size: 1em;
      margin: 0 0 5px 0;
      text-align: center;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h3 {
      margin: 0px;
      text-align: center;
      font-weight: normal;
      font-size: .7em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#history { 
  margin: 15px;
  h1 {
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: normal;
  }
  ul.queue { 
    background: rgba(20, 20, 36, 1);
    position: fixed;
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 4px 0 0 0;
    overflow-y: scroll;
    top: 370px; bottom: 0px;
    width: 220px;
    li {
      background: #1D1E30;
      cursor: pointer;
      font-size: .9em;
      margin: 1px 5px;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.selected { background: #2D2D57; }
      .track-play {
        float: right;
        margin-right: 10px;    
        overflow: hidden;
        text-overflow: ellipsis;
        width: 170px;
      }
      .track-artist {
        color: #676CD7;
        font-size: .9em;
        margin: 20px 5px 0 2px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .track-remove {
        margin-top: 10px;
        position: absolute;
        right: 12px;
        width: 12px;
      }
    }
    &::-webkit-scrollbar { background: #141424; width: .5em; }
    &::-webkit-scrollbar-thumb {
        background: rgb(74, 75, 97); 
        border-radius: 5px;
        height: 20px; 
    }
  }
  #queue-controls { float: right; }
}

#audio-player { 
  margin-top: 20px;
  width: 210px;
}

.section {
  font-size: .9em;
  margin-bottom: 30px;
  min-width: 969px;
  hr {
    border: none;
    background-color: #1E1F37;
    height: 1px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: .9em;
    font-weight: normal;
    margin: 15px 0px 0px 0px;
    text-transform: uppercase;
    word-spacing: 5px;
  }
  ul.albums {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li.album {
      background: $color-primary-2;
      box-sizing: border-box;
      display: inline-block;
      height: 275px;
      margin-right: 15px;
      width: 182px;
      img {
        width: 100%;
        height: 182px;
      }
      .album-details {
        margin: 0px;
        padding: 0px 10px;
        h2 {
          font-size: .9em;
          font-weight: normal;    
          text-overflow: ellipsis;
          overflow: hidden;
          text-transform: capitalize;
          white-space: nowrap;
          width: 170px;
        }
        h3 {
          font-size: .8em;
          font-weight: normal;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 170px;
        }
      }
    }
  }
  ul.moods {
    margin-bottom: -25px;
    li { 
      height: 182px; 
      &:last-child { margin-right: 0px; }
    }
  }
}

input,
textarea {
  &:focus {
    background: #fff;
    outline: none;
  }
}

.fakebutton {
  background: none;
  border: none;
  color: inherit;
  opacity: .8;
  padding: 0px;
  &:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
  }
  &:focus { outline: 0; }
}

.clearfix { clear: both; }

.low-filter { 
  opacity: .15;
  &:hover {
    opacity: .5;
    transition: opacity .25s ease-in-out;
  }
}

.genre {    
  position: relative;
  top: -130px;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
}